html {
  font-size: 14px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  background: #ecedef;
  font-family: 'PT Sans', 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #ecedef;
  margin: 0;
  padding: 0;
}
body.body-chat {
  background: #ecedef;
}
*,
*:focus {
  outline: none;
}
.font-condensed {
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}
.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-medium-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-xs {
  font-size: 0.6em;
}
.font-s {
  font-size: 0.8em;
}
.font-m {
  font-size: 1em;
}
.font-l {
  font-size: 1.2em;
}
.font-xl {
  font-size: 1.4em;
}
.font-xxl {
  font-size: 1.6em;
}
.font-xxxl {
  font-size: 1.8em;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 2.4em;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
h2 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
h3 {
  margin: 0;
  padding: 0;
  font-size: 1.6em;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
h4 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: 500;
}
h5 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
h6 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: #70afff;
}
a:hover {
  text-decoration: none;
  color: #8dbfff;
}
.clear {
  clear: both;
}
.controls {
  display: none;
  background: #383a49;
  position: fixed;
  z-index: 200;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
}
.controls table {
  width: 100%;
  height: 60px;
}
.controls table td {
  width: 33.33%;
  border-right: 1px solid #494b5f;
}
.controls table td:last-child {
  border-right: none;
}
.controls table td a {
  display: block;
  background: #383a49;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #ecedef !important;
  text-decoration: none !important;
}
.controls table td a.active {
  background: #2d2e3a;
  border-bottom: 3px solid #1ca389;
}
.controls .btn-default {
  background-color: #383a49;
  color: #ecedef;
  border-color: #ecedef;
}
.controls .btn-default.active {
  background-color: #1c1d25;
  color: #6d7381;
  border-color: #6d7381;
}
.plus {
  position: relative;
  top: -0.2em;
  color: #70afff;
  padding: 0.2em 0.5em;
  margin: -0.15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  font-size: 17px;
  font-weight: 100;
}
.plus:hover {
  background: rgba(0,0,0,0.08);
  text-decoration: none;
  color: #8dbfff;
  cursor: pointer;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.center {
  text-align: center;
}
.height-btn {
  line-height: 34px;
}
.nano {
  overflow: hidden;
}
.nano > .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nano .nano-pane {
  background: #888;
}
.nano .nano-slider {
  background: #111;
}
.blend-text {
  color: #adadad;
}
.btn-success {
  background-color: #1ca389 !important;
  border-color: #19937b !important;
}
.btn-success:hover {
  background-color: #21bea0 !important;
}
.btn-mobee {
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 18px;
  border: none;
  border-left: 5px solid #a2c2d5;
  border-right: 5px solid #a2c2d5;
  background: #ecedef;
  color: #333;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  font-weight: 600;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.btn-mobee:hover {
  background: #a2c2d5;
  border-color: #a2c2d5;
  color: #fff;
}
.btn-mobee-sm {
  font-size: 0.8em;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-mobee-xs {
  font-size: 0.8em;
  padding-top: 5px;
  padding-bottom: 5px;
}
.progress-dashboard {
  background: #232736;
  height: 34px;
  margin: 0;
}
.progress-dashboard .progress-bar {
  background: #1ca389;
  line-height: 34px;
  box-shadow: none;
}
.progress-content {
  background: #ecedef;
  height: 34px;
  margin: 0;
}
.progress-content .progress-bar {
  background: #1ca389;
  line-height: 34px;
  box-shadow: none;
}
.pagination {
  margin: 0;
}
.profile-list-item .well {
  margin-bottom: 0;
}
.profile-list-item .avatar {
  display: block;
  width: 100%;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -o-border-radius: 90px;
  border-radius: 90px;
  overflow: hidden;
}
.profile-list-item .avatar img {
  width: 100%;
}
.profile-list-box-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}
.profile-list-box-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.profile-list-box-header {
  color: #9fa4b7;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}
.mobee-profile-checked {
  color: #090;
}
.mobee-profile-super {
  color: #f44;
}
.profile-userbar {
  height: 60px;
  position: relative;
}
.profile-userbar-avatar {
  float: left;
  margin-right: 10px;
  height: 100%;
  overflow: hidden;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
.profile-userbar-avatar img {
  height: 100%;
}
.profile-userbar-info {
  padding: 10px 0 0 0;
}
.profile-userbar-info .profile-userbar-info-name {
  font-size: font-size-l;
  line-height: 20px;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}
.profile-userbar-info .profile-userbar-info-description {
  line-height: 20px;
  font-size: 0.8em;
}
.profile-userbar-right .profile-userbar-avatar {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.profile-userbar-right .profile-userbar-info {
  float: right;
  text-align: right;
}
.connection-list-link {
  text-align: center;
  padding-top: 20px;
}
.main-features {
  padding: 20px 0;
}
.main-features-row {
  margin-left: -5px;
  margin-right: -5px;
}
.main-features-col {
  padding-left: 5px;
  padding-right: 5px;
}
.main-features-items {
  margin-top: 40px;
}
.main-features-items-item {
  padding: 20px;
  margin-bottom: 10px;
  height: 320px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.main-features-items-item.noimg {
  height: 100px;
}
.main-features-title {
  color: #333;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  padding: 10px 0;
  font-weight: 700;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}
.main-features-image {
  text-align: center;
}
.main-features-image img {
  max-height: 160px;
  max-width: 100%;
}
.main-features-content {
  margin: 0;
  text-align: center;
}
.landing {
  background: #cbe4eb;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.landing img {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
}
.check-username-process {
  color: #3e91ff;
}
.check-username-busy {
  color: #e45a5a;
}
.check-username-free {
  color: #37c06e;
}
.mobee-main-slider .carousel-control.right,
.mobee-main-slider .carousel-control.left {
  background-image: none;
}
.mobee-main-slider .carousel-indicators li,
.mobee-main-slider .carousel-indicators li.active {
  border-color: #e1193a;
}
.mobee-main-slider .carousel-indicators li.active {
  background: #e1193a;
}
.mobee-main-slider .carousel-control {
  color: #333;
  text-shadow: none;
  width: 7%;
}
.mobee-main-slider .carousel-inner {
  width: 86%;
  margin-left: 7%;
  margin-right: 7%;
}
.mobee-main-slider-item {
  text-align: center;
  padding-bottom: 60px;
}
.mobee-main-slider-item img {
  max-width: 100%;
}
.image-ajax-box {
  display: none;
}
.image-ajax-input {
  display: none;
}
.help-block-mobee {
  font-size: 0.8em;
  color: #999;
}
.chat-box {
  position: fixed;
  left: 300px;
  right: 300px;
  bottom: 0;
  background: #ecedef;
  height: 90px;
  z-index: 100;
}
.chat-box .chat-deal {
  position: absolute;
  width: 80px;
  top: 10px;
  left: 20px;
  bottom: 10px;
}
.chat-box .chat-deal .chat-deal-price {
  padding-bottom: 10px;
}
.chat-box .chat-deal-confirmed {
  position: absolute;
  top: 10px;
  left: 20px;
  bottom: 10px;
  width: 80px;
  box-sizing: border-box;
  background: #1ca389;
  text-align: center;
  color: #fff;
  line-height: 30px;
  padding-top: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.chat-box .chat-message-form {
  position: absolute;
  top: 10px;
  left: 110px;
  right: 20px;
  bottom: 10px;
}
.chat-box .chat-message-box-field {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 80px;
}
.chat-box .chat-message-box-field textarea {
  height: 70px;
}
.chat-box .chat-message-box-send {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 1.2em;
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  background: #a2c2d5;
  color: #333;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
}
.chat-box .chat-message-box-send:hover {
  background: #b5cedd;
}
.chat-message-spacer {
  height: 70px;
}
.chatitem-avatar {
  float: left;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  overflow: hidden;
}
.chatitem-avatar img {
  width: 100%;
}
.chatitem-content {
  margin-left: 70px;
}
.chatitem-content .chatitem-content-name {
  padding: 4px 0;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}
.chatitem-clear {
  clear: both;
}
.chat-clean-item {
  display: none;
}
.faq-list-category {
  display: block;
  padding: 10px 20px;
  background: #fff;
  color: #333;
  text-decoration: none !important;
  border: 1px solid #ecedef;
  border-bottom-width: 0px;
}
.faq-list-category:last-child {
  border-bottom-width: 1px;
}
.faq-list-category:hover {
  color: #333;
  background: #f6f6f7;
  text-decoration: none;
}
.faq-list-category.active {
  background: #ecedef;
}
.faq-list-category-title {
  font-size: 1.2em;
  padding: 4px 0 0 0;
}
.faq-list-category-description {
  padding-bottom: 10px;
}
.faq-list-category-count {
  color: #9fa4ae;
}
.faq-list-item-title {
  font-size: 1.2em;
}
.reviews-item {
  background: #edeef2;
  padding: 20px;
  margin-top: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.review-item-param {
  margin: 20px 0;
  background: #e6e6e6;
  padding: 10px;
}
.super-item {
  background: #ecf0f1;
  padding: 20px;
  margin-bottom: 30px;
  height: 200px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.super-item-price {
  text-align: center;
  font-size: 1.6em;
  padding: 10px 0;
  font-weight: 700;
}
.super-item-desc {
  text-align: center;
  font-size: 1.4em;
}
.super-item-cost {
  padding: 10px 0;
  text-align: center;
  font-size: 1.4em;
  color: #9aafb4;
}
.super-progress {
  position: relative;
}
.super-progress .progress-bar {
  background: #e1193a;
}
.super-progress-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.order-item {
  border: 1px solid #ecedef;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.order-item .order-item-img img {
  width: 100%;
}
.order-item .order-item-data {
  background: #f9fafa;
  padding: 20px;
}
.order-view-img img {
  width: 100%;
}
.order-filters-verticalselect {
  padding-bottom: 20px;
}
.order-filters-verticalselect .btn {
  text-align: left;
}
.order-filters-verticalselect .btn-default {
  background-color: #fff !important;
  border-color: #ecedef !important;
}
.order-filters-verticalselect .btn-default:hover {
  background-color: #f2f2f2 !important;
}
.deal-review-summary {
  list-style: none;
  margin: 0;
  padding: 0;
}
#chartdiv {
  width: 100%;
  height: 500px;
}
.page-content img {
  max-width: 100%;
}
.order-create-buttons a {
  display: block;
  padding: 20px;
  text-align: center;
  border: 1px solid #ecedef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #333 !important;
}
.order-create-buttons a:hover {
  color: #70afff !important;
}
.order-create-buttons a img {
  max-width: 100%;
  max-height: 200px;
  margin-bottom: 20px;
}
.order-create-buttons a h3 {
  margin-bottom: 20px;
}
.order-form-image {
  margin-bottom: 20px;
}
.order-category-select {
  position: relative;
}
.header {
  display: block;
}
.header .navigation {
  background: #272933;
  height: 60px;
  position: relative;
  z-index: 200;
}
.header .navigation .logo {
  position: absolute;
  width: 120px;
  height: 60px;
  top: 0;
  left: 0;
}
.header .navigation .logo a {
  display: block;
  background: url("images/logo_beta.png") no-repeat center center;
  background-color: #272933;
  width: 120px;
  height: 60px;
  border-right: 1px solid #393c4b;
}
.header .navigation .logo a:hover {
  background-color: #393c4b;
}
.header .navigation .meloman {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
}
.header .navigation .meloman .header-links-more-content {
  display: none;
}
.header .navigation .meloman a {
  display: block;
  background-color: #272933;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-left: 1px solid #393c4b;
  color: #b8bcc4;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
}
.header .navigation .meloman a:hover {
  background-color: #393c4b;
  color: #fff;
}
.header .navigation .meloman-list {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 300;
}
.header .navigation .meloman-list-arr {
  background: #fff;
  transform: rotate(45deg);
  position: absolute;
  right: 21px;
  top: -8px;
  width: 16px;
  height: 16px;
}
.header .navigation .meloman-list-inner {
  width: 320px;
  background: #fff;
  color: #333;
  padding: 20px;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.2);
}
.header .navigation .meloman-list-inner table {
  margin-top: 10px;
  border-color: #ecedef;
}
.header .navigation .meloman-list-inner table td {
  border-color: #ecedef;
  border: none !important;
}
.header .navigation .links {
  position: absolute;
  top: 0;
  left: 120px;
  right: 60px;
  height: 60px;
  z-index: 200;
}
.header .navigation .links ul.links-ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 10;
}
.header .navigation .links ul.links-ul li {
  display: block;
  float: left;
  height: 60px;
}
.header .navigation .links ul.links-ul li a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 60px;
  font-size: 1em;
  color: #b8bcc4;
  text-decoration: none;
  box-sizing: border-box;
  height: 60px;
}
.header .navigation .links ul.links-ul li a.active,
.header .navigation .links ul.links-ul li a:hover {
  border-bottom: 2px solid #fff;
  color: #fff;
}
.header .navigation .links ul.links-ul li a.plus {
  width: 30px;
  height: 30px;
  margin: 15px;
  margin-right: 0;
  margin-bottom: 0;
  line-height: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.header .navigation .links ul.links-ul li a.plus:hover {
  border: none !important;
}
.header .navigation .links .links-more {
  display: none;
  position: absolute;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}
.header .navigation .links .links-more .links-more-btn {
  display: block;
  background-color: #272933;
  height: 60px;
  line-height: 60px;
  color: #b8bcc4;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
}
.header .navigation .links .links-more .links-more-btn:hover {
  background-color: #393c4b;
  color: #fff;
}
.header .navigation .links .links-more-list {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
}
.header .navigation .links .links-more-list .links-more-list-inner {
  background: #1f2129;
  padding: 0;
  color: #ecedef;
}
.header .navigation .links .links-more-list .links-more-list-inner ul {
  padding: 10px 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #272933;
}
.header .navigation .links .links-more-list .links-more-list-inner ul:last-child {
  border: none;
}
.header .navigation .links .links-more-list .links-more-list-inner ul li a {
  display: block;
  padding: 10px 20px;
  color: #ecedef !important;
  text-decoration: none !important;
}
.header .navigation .links .links-more-list .links-more-list-inner ul li a:hover {
  background-color: #393c4b;
}
.header .navigation .links .links-shadow {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 60px;
  z-index: 20;
  box-shadow: inset -90px 0px 60px -50px #272933;
}
.header .menu {
  background: #a2c2d5;
  height: 50px;
  position: relative;
  z-index: 100;
}
.header .menu-list {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.header .menu-list ul {
  width: 2000px;
  height: 50px;
  list-style: none;
  margin: 0;
  padding: 0 20px;
  z-index: 100;
}
.header .menu-list ul li {
  display: block;
  float: left;
}
.header .menu-list ul li a {
  display: block;
  line-height: 50px;
  color: #fff;
  padding: 0 20px;
  text-decoration: none;
  box-sizing: border-box;
  height: 50px;
  font-size: 1.2em;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}
.header .menu-list ul li a.active,
.header .menu-list ul li a:hover {
  border-bottom: 2px solid #fff;
}
.header .menu-down {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 300;
}
.header .menu-down-inner {
  background: #fff;
  padding: 20px;
  color: #333;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.2);
}
.header .menu-down-inner ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header .menu-down-inner-item {
  padding-bottom: 20px;
  height: 200px;
}
.header .menu-more {
  position: absolute;
  background: #a2c2d5;
  height: 50px;
  top: 0;
  right: 0;
  z-index: 200;
}
.header .menu-more a {
  display: block;
  background: #a2c2d5;
  height: 50px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  text-decoration: none !important;
}
.header .menu-more a:hover {
  background: #abc8d9;
}
.header .menu-more .menu-more-shadow {
  position: absolute;
  width: 60px;
  margin-left: -60px;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 20;
  box-shadow: inset -60px 0px 30px -30px #a2c2d5;
}
.meloman-item {
  text-align: center;
  padding: 0;
}
.meloman-item-img {
  padding: 0 5px;
  line-height: 50px;
  height: 50px;
  text-align: center;
}
.content {
  display: block;
  background: #ecedef;
  color: #333;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.content .content-element-clear {
  padding: 0 20px;
}
.content .content-element-box {
  background: #fff;
  margin: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 30px;
}
.content .content-element-box:first-child {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  margin-top: 20px;
}
.content .content-element-box:last-child {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  margin-bottom: 20px;
}
.content .content-element-box:first-child:last-child {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.content .content-element-box.gray {
  background: #f9fafa;
}
.content .content-element-box.dark {
  background: #32374b;
}
.content .content-element-box.nomargin {
  margin: 0 0 20px 0;
}
.content .content-element-box .content-element-box-item {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}
.content .content-element-box .content-element-box-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.content .content-element-box .content-element-box-header {
  color: #9fa4b7;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}
.content .content-profile-header {
  text-align: center;
  color: #fff;
  margin: -30px;
  padding: 20px;
}
.content .content-profile-avatar {
  display: block;
  width: 180px;
  height: 180px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -o-border-radius: 90px;
  border-radius: 90px;
  overflow: hidden;
  margin: 20px auto;
}
.content .content-profile-avatar img {
  width: 100%;
}
.content .content-profile-avatar:hover {
  border: 5px solid #9fa4b7;
}
.content .content-profile-navigation {
  color: #fff;
  margin-bottom: -20px;
}
.content .content-profile-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content .content-profile-navigation ul li {
  float: left;
  width: 20%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.content .content-profile-navigation a {
  color: #fff;
  display: block;
  box-sizing: border-box;
  text-align: center;
  height: 50px;
  line-height: 40px;
  min-width: 120px;
  text-decoration: none !important;
}
.content .content-profile-navigation a:hover {
  border-bottom: 2px solid #fff;
}
.content .content-profile-navigation a.active {
  border-bottom: 2px solid #70afff;
  color: #70afff;
}

          .content-profile-gradient {
              /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+24,0.8+100 */
              background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 24%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
          }
.content .content-cleaner {
  padding: 40px;
}
.content .main-chart-element-box {
  background: #1a1c25;
  padding: 20px;
  border: 1px solid #252835;
}
.content .main-chart-color {
  background: #fff;
  width: 100%;
  height: 14px;
  margin-top: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.content .main-chart-color.orders {
  background: #5263a1;
  border: 2px solid #6b8cde;
}
.content .main-chart-color.chats {
  background: #d0d1d7;
  border: 2px dashed #ecedef;
}
.content .main-chart-color.deals {
  background: #cc002f;
  border: 2px solid #ff2456;
}
.content .main-chart-color.connections {
  background: #4f2374;
  border: 2px dashed #8d37b3;
}
.content .main-chart-color.clients {
  background: #125878;
  border: 2px solid #0e8fb4;
}
.content .main-chart-color.services {
  background: #2e9055;
  border: 2px dashed #32d86e;
}
.content .main-chart-title {
  color: #6d7381;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}
.content .main-chart-count {
  color: #fff;
  font-weight: 600;
  font-size: 27px;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}
.content .mobee-features-box {
  padding: 20px;
  border: 2px solid #ecedef;
  background: #fff;
}
.content .mobee-features-title {
  color: #d0d1d7;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}
.btn-dashboard {
  background: none;
  border-color: #9fa4b7;
  color: #9fa4b7;
}
.btn-dashboard:hover {
  border-color: #cfd2db;
  color: #cfd2db;
}
.dashboard {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.dashboard .dashboard-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}
.dashboard .dashboard-header .dashboard-header-mode {
  display: block;
  background: #404660;
  color: #ecedef;
  padding: 20px;
  line-height: 20px;
  height: 60px;
  text-decoration: none;
}
.dashboard .dashboard-header .dashboard-header-mode .dashboard-header-mode-inner {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  font-weight: 600;
}
.dashboard .dashboard-header .dashboard-header-mode.active:hover {
  background: #646b88;
}
.dashboard .dashboard-header .dashboard-header-mode.purple {
  background: #404660;
  color: #ecedef;
}
.dashboard .dashboard-header .dashboard-header-mode.purple .btn-dashboard {
  background: none;
  border-color: #9fa4b7;
  color: #9fa4b7;
  margin: -13px -10px;
  text-transform: none;
}
.dashboard .dashboard-header .dashboard-header-mode.purple .btn-dashboard:hover {
  border-color: #cfd2db;
  color: #cfd2db;
}
.dashboard .dashboard-content {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}
.dashboard .dashboard-content .dashboard-content-element {
  margin: 10px;
}
.dashboard .dashboard-content .dashboard-content-box {
  padding: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid #404660;
}
.dashboard .dashboard-content .dashboard-content-fakebox {
  padding: 10px;
}
.dashboard .dashboard-content .dashboard-content-orderbtn,
.dashboard .dashboard-content .dashboard-content-orderbtn:link,
.dashboard .dashboard-content .dashboard-content-orderbtn:active {
  width: 100%;
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 18px;
  border: none;
  border-left: 5px solid #9fa4b7;
  border-right: 5px solid #646b88;
  background: #646b88;
  color: #fff;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  font-weight: 600;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.dashboard .dashboard-content .dashboard-content-orderbtn:hover,
.dashboard .dashboard-content .dashboard-content-orderbtn:link:hover,
.dashboard .dashboard-content .dashboard-content-orderbtn:active:hover {
  background: #9fa4b7;
  border-color: #9fa4b7;
}
.dashboard .dashboard-content .dashboard-content-box-header {
  color: #9fa4b7;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}
.dashboard .dashboard-avatar {
  display: block;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  overflow: hidden;
  margin: 20px auto;
}
.dashboard .dashboard-avatar img {
  width: 100%;
}
.dashboard .dashboard-avatar:hover {
  border: 5px solid #9fa4b7;
}
.dashboard .dashboard-usermenu {
  margin: 0;
}
.dashboard .dashboard-usermenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.dashboard .dashboard-usermenu ul li {
  margin: 0;
}
.dashboard .dashboard-usermenu ul li a {
  display: block;
  padding: 10px;
  padding-right: 20px;
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.dashboard .dashboard-usermenu ul li a:hover {
  background: #545d7f;
}
.dashboard .dashboard-usermenu ul li a span {
  display: block;
  float: right;
  background: #2a2e3f;
  padding: 5px 10px;
  margin: -5px 0;
  margin-right: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.dashboard .dashboard-usermenu ul li a span.dashboard-usermenu-notification {
  background: #e1193a;
}
.dashboard .dashboard-usermenu ul li a span:first-child {
  margin-right: -15px;
  margin-left: 0;
}
.dashboard .dashboard-form-textfield {
  background: #3a3f56;
  display: block;
  width: 100%;
  padding: 20px;
  line-height: 20px;
  border: 1px solid #5f678d;
  box-sizing: border-box;
}
.dashboard .dashboard-form-textfield:active,
.dashboard .dashboard-form-textfield:focus {
  border-color: #9298b5;
}
.dashboard-notifications ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
.dashboard-notifications ul li {
  margin-bottom: 10px;
}
.dashboard-notifications ul li:last-child {
  margin-bottom: 0;
}
.dashboard-notifications-item {
  position: relative;
  display: block;
  padding: 10px;
  color: #ecedef;
  background: #363c52;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.dashboard-notifications-item:hover {
  color: #ecedef;
  background: #303548;
}
.dashboard-notifications-item.warning {
  background: #1ca389;
}
.dashboard-notifications-item.warning:hover {
  background: #16826e;
}
@keyframes blinknew {
  from {background-color: #363c52;}
  to {background-color: #4f8d97;}
}
.dashboard-notifications-item.blinknew {
  background-color: #363c52;
  animation: blinknew 0.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
  animation-iteration-count: 8;
}
.dashboard-notifications-item .message {
  color: #ecedef;
  text-decoration: none;
  display: block;
}
.dashboard-notifications-item small {
  text-decoration: none;
  display: block;
}
.widget-notifications {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}
.widget-notifications ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget-notifications ul li {
  margin: 0;
  padding: 10px;
  padding-bottom: 0;
}
.widget-notifications ul li:last-child {
  padding-bottom: 10px;
}
.widget-notifications .dashboard-notifications-item {
  box-shadow: 0 0 15px 2px rgba(255,255,255,0.8);
  background: #f2f2f2;
}
.widget-notifications .dashboard-notifications-item:hover {
  background: #fff;
}
.widget-notifications .dashboard-notifications-item .message {
  display: block;
  color: #333;
  padding-right: 30px;
}
.widget-notifications .dashboard-notifications-item .closebtn {
  background: #333;
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  font-size: 10px;
  line-height: 21px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.widget-notifications .dashboard-notifications-item .closebtn:hover {
  background: #111;
}
.dashboard-demo-button {
  position: absolute;
  left: 80px;
  right: 80px;
  bottom: 30px;
  z-index: 1000;
}
.dashboard-demo-button a {
  background: #bbb;
  color: #333;
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none !important;
}
.dashboard-demo-button a:hover {
  background: #afafaf;
}
.dashboard-demo-button a.active {
  background: #1ca389;
  color: #fff;
}
.dashboard-demo-button a.active:hover {
  background: #21bea0;
}
.dashboard-noauth-demo {
  display: none;
}
.dashboard-demo-button-plus {
  position: absolute;
  top: 7px;
  right: -30px;
}
.dashboard-left-small {
  display: none;
}
.dashboard-left-btn {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 1.8em;
  color: #ecedef !important;
  text-decoration: none !important;
  text-align: center;
}
.dashboard-left-btn:hover {
  background: #646b88;
}
.dashboard-left-btn .dashboard-left-small-notification {
  background: #e1193a;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  font-size: 0.5em;
}
.dashboard-left-small-orderbtn {
  background: #1ca389;
}
.dashboard-left-small-orderbtn:hover {
  background: #21bea0;
}
@media (min-width: 768px) and (max-width: 1499px) {
  .sidebar-left .dashboard-left-full {
    display: none;
  }
  .sidebar-left .dashboard-left-small {
    display: block;
  }
  .sidebar-left .dashboard .dashboard-content .dashboard-content-element {
    margin: 0;
  }
  .sidebar-left .dashboard .dashboard-avatar {
    width: 40px;
    height: 40px;
    margin: 20px;
  }
}

  .dash-onoffswitch {
      position: relative; width: 140px;
      -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  }
  .dash-onoffswitch-checkbox {
      display: none;
  }
  .dash-onoffswitch-label {
      display: block; overflow: hidden; cursor: pointer;
      border: 2px solid #999999; border-radius: 20px;
  }
  .dash-onoffswitch-inner {
      display: block; width: 200%; margin-left: -100%;
      transition: margin 0.3s ease-in 0s;
  }
  .dash-onoffswitch-inner:before, .dash-onoffswitch-inner:after {
      display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
      font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
      box-sizing: border-box;
  }
  .dash-onoffswitch-inner:before {
      content: "ON";
      padding-left: 20px;
      background-color: #34A7C1; color: #FFFFFF;
  }
  .dash-onoffswitch-inner:after {
      content: "OFF";
      padding-right: 20px;
      background-color: #EEEEEE; color: #999999;
      text-align: right;
  }
  .dash-onoffswitch-switch {
      display: block; width: 16px; margin: 7px;
      background: #FFFFFF;
      position: absolute; top: 0; bottom: 0;
      right: 106px;
      border: 2px solid #999999; border-radius: 20px;
      transition: all 0.3s ease-in 0s; 
  }
  .dash-onoffswitch-checkbox:checked + .dash-onoffswitch-label .dash-onoffswitch-inner {
      margin-left: 0;
  }
  .dash-onoffswitch-checkbox:checked + .dash-onoffswitch-label .dash-onoffswitch-switch {
      right: 0px; 
  }
.mobeemodals > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mobeemodals > ul > li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  z-index: 1000;
}
.mobeemodals > ul > li .mobeemodal-rails {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  overflow-x: hidden;
  overflow-y: scroll;
}
.mobeemodals > ul > li .mobeemodal-window {
  position: relative;
  background: #fff;
  width: 600px;
  margin: 60px auto;
  z-index: 20;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}
.mobeemodals > ul > li .mobeemodal-window-s {
  width: 400px;
}
.mobeemodals > ul > li .mobeemodal-window-m {
  width: 600px;
}
.mobeemodals > ul > li .mobeemodal-window-l {
  width: 800px;
}
.mobeemodals > ul > li .mobeemodal-bg {
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
}
.mobeemodals > ul > li:nth-child(n+2) {
  display: none;
}
.mobeemodal-loader {
  display: none;
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
  text-align: center;
  color: #fff;
}
.mobeemodal-loader-text {
  padding-top: 200px;
}
.mobeemodal-template {
  display: none;
}
.mobeemodal-header {
  height: 50px;
  background: #ecedef;
}
.mobeemodal-header-title {
  float: left;
  line-height: 10px;
  font-size: 1em;
  color: #9fa4ae;
  padding: 20px;
  font-weight: 300;
}
.mobeemodal-header-close {
  float: right;
}
.mobeemodal-header-close-btn {
  display: block;
  line-height: 10px;
  padding: 20px;
  color: #70afff;
  cursor: pointer;
  border-left: 1px solid #f6f6f7;
}
.mobeemodal-content {
  padding: 20px;
  color: #333;
}
.wrap {
  position: relative;
  z-index: 100;
}
.blocked {
  overflow: hidden;
}
.blocked .wrap {
  overflow-y: scroll;
}
.main {
  position: relative;
  padding: 0 300px;
  z-index: 10;
}
.main > .inner {
  margin: 0;
}
.sidebar {
  background: #474e6b;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  z-index: 50;
}
.sidebar-left {
  left: 0;
}
.sidebar-right {
  right: 0;
}
@media (min-width: 768px) and (max-width: 1499px) {
  .sidebar-left {
    width: 80px;
  }
  .main {
    padding-left: 80px;
  }
}
@media (max-width: 767px) {
  .wrap {
    padding-bottom: 60px;
  }
  .main {
    padding: 0;
    z-index: 100;
  }
  .main > .inner {
    margin: 0;
  }
  .sidebar {
    width: auto;
    left: 0;
    right: 0;
    bottom: 60px;
    display: none;
  }
  .wrap-item {
    display: none;
  }
  .wrap-active {
    display: block;
  }
}
@media (max-width: 767px) {
  .controls {
    display: block;
  }
  .mobeemodal-window {
    width: 100% !important;
    margin: 0 !important;
  }
}
