html
    font-size 14px
    line-height 1.5em
    margin 0
    padding 0

body
    position relative
    background $default-bg-mint
    font-family 'PT Sans', 'Roboto', Helvetica, Arial, sans-serif
    font-size $font-size-m
    line-height 1.5em
    color $default-color
    margin 0
    padding 0

body.body-chat
    background $default-bg-mint

*
*:focus
    outline none

border-radius(n)
    -webkit-border-radius n
    -moz-border-radius n
    -o-border-radius n
    border-radius n

font-normal()
    font-family 'PT Sans', 'Roboto', Helvetica, Arial, sans-serif

font-condensed()
    font-family 'Roboto Condensed', Helvetica, Arial, sans-serif

font-light()
    font-weight 300

font-regular()
    font-weight 400

font-medium()
    font-weight 500

font-medium-bold()
    font-weight 600

font-bold()
    font-weight 700

.font-condensed
    font-condensed()

.font-light
    font-light()

.font-regular
    font-regular()

.font-medium
    font-medium()

.font-medium-bold
    font-medium-bold()

.font-bold
    font-bold()

.font-xs
    font-size $font-size-xs

.font-s
    font-size $font-size-s

.font-m
    font-size $font-size-m

.font-l
    font-size $font-size-l

.font-xl
    font-size $font-size-xl

.font-xxl
    font-size $font-size-xxl

.font-xxxl
    font-size $font-size-xxxl

h1
    margin 0
    padding 0
    font-size 2.4em
    font-condensed()
    font-light()

h2
    margin 0
    padding 0
    font-size 2em
    font-condensed()
    font-light()

h3
    margin 0
    padding 0
    font-size 1.6em
    font-condensed()
    font-light()

h4
    margin 0
    padding 0
    font-size 1.2em
    font-medium()

h5
    margin 0
    padding 0
    font-size 1.2em
    font-condensed()
    font-light()

h6
    margin 0
    padding 0
    font-size 1em
    font-medium()


a
    text-decoration none
    color $default-a-color
    
    &:hover
        text-decoration none
        color $default-a-color + 20%
