.content
    display block
    background $default-bg-mint
    color $default-color-white
    // margin $default-padding 0
    margin 0
    box-sizing border-box
    overflow hidden
    // border-radius($default-border-radius)
        
    .content-element-clear
        padding 0 $default-padding

    .content-element-box
        background $default-bg-white
        margin $default-padding
        margin-top 2px
        margin-bottom 2px
        padding $default-padding * 1.5 // $default-padding
        
        &:first-child
            border-radius($default-border-radius $default-border-radius 0 0)
            margin-top $default-padding
        
        &:last-child
            border-radius(0 0 $default-border-radius $default-border-radius)
            margin-bottom $default-padding

        &:first-child:last-child
            border-radius($default-border-radius)
            
        &.gray
            background $default-bg-mint + 70%
        
        &.dark
            // margin 0
            // padding $default-padding * 2
            background $sidebar-bg - 30%
            // border-radius(0)
        
        &.nomargin
            margin 0 0 $default-padding 0
        
        .content-element-box-item
            margin-bottom $default-padding
            padding-bottom $default-padding
            border-bottom $default-border-white
            
            &:last-child
                margin-bottom 0
                padding-bottom 0
                border-bottom none
        
        .content-element-box-header
            color $sidebar-dark-color
            text-transform uppercase
            padding-bottom $default-padding * 0.5
            font-condensed()
    
    .content-profile-header
        text-align center
        color $profile-color
        margin $default-padding * -1.5
        padding $default-padding
        
    .content-profile-avatar
        display block
        width $dashboard-avatar * 1.5
        height $dashboard-avatar * 1.5
        border-radius($dashboard-avatar * 0.75)
        overflow hidden
        margin $default-padding auto
        
        img
            width 100%

        &:hover
            border 5px solid $sidebar-purple-color
    
    .content-profile-navigation
        color $profile-color
        margin-bottom $default-padding * -1
        
        ul
            list-style none
            margin 0
            padding 0
            
            li
                float left
                width 20%
                margin 0
                padding 0
                overflow hidden
        
        a
            color $profile-color
            display block
            box-sizing border-box
            text-align center
            height $default-padding * 2.5
            line-height $default-padding * 2
            min-width 120px
            text-decoration none !important
            
            &:hover
                border-bottom 2px solid $profile-color
            
            &.active
                border-bottom 2px solid $profile-color-active
                color $profile-color-active
    
    .content-profile-gradient
        @css {
            .content-profile-gradient {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+24,0.8+100 */
                background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 24%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
            }
        }
    
    .content-cleaner
        padding $default-padding * 2

    .main-chart-element-box
        background: #1a1c25;
        padding: 20px;
        border: 1px solid #252835;

    .main-chart-color
        background: #fff;
        width: 100%;
        height: 14px;
        margin-top: 10px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;

    .main-chart-color.orders
        background: #5263a1;
        border: 2px solid #6b8cde;

    .main-chart-color.chats
        background: #d0d1d7;
        border: 2px dashed #ecedef;

    .main-chart-color.deals
        background: #cc002f;
        border: 2px solid #ff2456;

    .main-chart-color.connections
        background: #4f2374;
        border: 2px dashed #8d37b3;

    .main-chart-color.clients
        background: #125878;
        border: 2px solid #0e8fb4;

    .main-chart-color.services
        background: #2e9055;
        border: 2px dashed #32d86e;

    .main-chart-title
        color: #6d7381;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;

    .main-chart-count
        color: #fff;
        font-weight: 600;
        font-size: 27px;
        font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;

    .mobee-features-box
        padding: 20px;
        border: 2px solid #ecedef;
        background: #fff;

    .mobee-features-title
        color: #d0d1d7;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;