.btn-dashboard
    background none
    border-color $sidebar-dark-color
    color $sidebar-dark-color

    &:hover
        border-color $sidebar-dark-color-hover
        color $sidebar-dark-color-hover

.dashboard
    display block
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    z-index 10
    
    .dashboard-header
        position absolute
        top 0
        left 0
        right 0
        height $dashboard-height
    
        .dashboard-header-mode
            display block
            background $sidebar-bg-header
            color $sidebar-color
            padding $default-padding
            line-height $dashboard-height - ($default-padding * 2)
            height $dashboard-height
            text-decoration none
            
            .dashboard-header-mode-inner
                text-transform uppercase
                letter-spacing 0.1em
                font-size $font-size-s
                font-medium-bold()
            
            &.active
                &:hover
                    background $sidebar-bg-active
            
            &.purple
                // background $sidebar-purple-color
                background $sidebar-bg-header
                color $sidebar-color
                
                .btn-dashboard
                    background none
                    border-color $sidebar-dark-color
                    color $sidebar-dark-color
                    margin ($dashboard-height - 34px) * -0.5 $default-padding * -0.5
                    text-transform none

                    &:hover
                        border-color $sidebar-dark-color-hover
                        color $sidebar-dark-color-hover
    
    .dashboard-content
        position absolute
        top $dashboard-height
        left 0
        right 0
        bottom 0
        
        .dashboard-content-element
            margin $default-padding * 0.5
        
        .dashboard-content-box
            // background $sidebar-bg-item
            padding $default-padding * 0.5
            padding-bottom $default-padding
            // border-radius($default-border-radius)
            border-bottom 2px solid $sidebar-bg-item
        
        .dashboard-content-fakebox
            padding $default-padding * 0.5
        
        .dashboard-content-orderbtn,
        .dashboard-content-orderbtn:link,
        .dashboard-content-orderbtn:active
            width 100%
            text-transform uppercase
            padding-top 18px
            padding-bottom 18px
            border none
            border-left 5px solid $sidebar-purple-color
            border-right 5px solid $sidebar-bg-active
            background $sidebar-bg-active
            color $sidebar-a-white
            letter-spacing 0.1em
            font-size $font-size-s
            font-medium-bold()
            border-radius(3px)
        
            &:hover
                background $sidebar-purple-color
                border-color $sidebar-purple-color
        
        .dashboard-content-box-header
            color $sidebar-dark-color
            text-transform uppercase
            padding-bottom $default-padding * 0.5
            font-condensed()

    .dashboard-avatar
        display block
        width $dashboard-avatar
        height $dashboard-avatar
        border-radius($dashboard-avatar * 0.5)
        overflow hidden
        margin $default-padding auto
        
        img
            width 100%
    
        &:hover
            border 5px solid $sidebar-purple-color
        
    .dashboard-usermenu
        margin 0
        
        ul
            margin 0
            padding 0
            list-style none
            
            li
                margin 0
                
                a
                    display block
                    padding $default-padding * 0.5 
                    padding-right $default-padding
                    color $sidebar-a-white
                    text-decoration none
                    border-radius($default-border-radius)
                    
                    &:hover
                        background $dashboard-usermenu-a-bg
                        // border-left 5px solid $sidebar-a-white

                    span
                        display block
                        float right
                        background $dashboard-usermenu-a-bg - 50%
                        padding $default-padding * 0.25 $default-padding * 0.5
                        margin $default-padding * 0.25 * -1 0 //$default-padding * 0.75 * -1
                        margin-right $default-padding * 0.25
                        border-radius($default-border-radius * 0.5)
                        
                        &.dashboard-usermenu-notification
                            background $sidebar-notification-bg
                        
                        &:first-child
                            margin-right $default-padding * 0.75 * -1
                            margin-left 0

    .dashboard-form-textfield
        background $dashbpard-input-bg
        display block
        width 100%
        padding $default-padding
        line-height $default-padding
        border 1px solid $dashbpard-input-bg + 25%
        box-sizing border-box
        // border-radius($default-border-radius)
        
        &:active
        &:focus
            border-color $dashbpard-input-bg + 50%

.dashboard-notifications
    ul
        list-style none
        padding 0
        margin $default-padding * 0.5 0
        
        li
            // border-bottom 1px solid $dashboard-border-color
            margin-bottom $default-padding * 0.5
            
            &:last-child
                // border-bottom none
                margin-bottom 0

.dashboard-notifications-item
    position relative
    display block
    padding $default-padding * 0.5
    color $default-color
    background $sidebar-bg-item - 15%
    border-radius(3px)
    
    &:hover
        color $default-color
        background $sidebar-bg-item - 25%
    
    &.warning
        background $sidebar-notification-warning
    
    &.warning:hover
        background $sidebar-notification-warning - 20%
    
    .message
        color $default-color
        text-decoration none
        display block
    
    small
        text-decoration none
        display block

.widget-notifications
    position absolute
    left 0
    right 0
    bottom 0
    z-index 20
    
    ul
        margin 0
        padding 0
        list-style none
        
        li
            margin 0
            // margin-bottom $default-padding * 0.5
            padding $default-padding * 0.5
            padding-bottom 0
            
            &:last-child
                // margin-bottom 0
                padding-bottom $default-padding * 0.5
    
    .dashboard-notifications-item
        box-shadow 0 0 15px 2px rgba(255, 255, 255, 0.8)
        background #fff - 5%
        
        &:hover
            background #fff
        
        .message
            display block
            color $default-color-white
            padding-right 30px

        .closebtn
            background #333
            color #fff
            position absolute
            top 10px
            right 10px
            text-align center
            font-size 10px
            line-height 21px
            width 20px
            height 20px
            border-radius(3px)
            
            &:hover
                background #111

.dashboard-demo-button
    position absolute
    left 80px
    right 80px
    bottom 30px
    z-index 1000
    
    a
        background #bbbbbb
        color #333333
        display block
        height 30px
        line-height 30px
        text-align center
        border-radius(3px)
        text-decoration none !important
        
        &:hover
            background #9B9B9B + 20%
        
        &.active
            background $dashboard-progress-color
            color #ffffff
        
            &:hover
                background $dashboard-progress-color + 10%

.dashboard-noauth-demo
    display none

.dashboard-demo-button-plus
    position absolute
    top 7px
    right -30px

.dashboard-left-small
    display none

.dashboard-left-btn
    position relative
    display block
    width $sidebar-left-element-width
    height $sidebar-left-element-width
    line-height $sidebar-left-element-width
    font-size $font-size-xxxl
    color $default-color !important
    text-decoration none !important
    text-align center
    
    &:hover
        background $sidebar-bg-active
    
    .dashboard-left-small-notification
        background $sidebar-notification-bg
        position absolute
        top $default-padding * 0.5
        right $default-padding * 0.5
        width $default-padding * 1.5
        height $default-padding * 1.5
        line-height $default-padding * 1.5
        border-radius($default-padding * 1.5)
        font-size $font-size-xxs

.dashboard-left-small-orderbtn
    background $btn-success-bg
    
    &:hover
        background $btn-success-bg + 10%

@media (min-width: $screen-sm-min) and (max-width: $screen-lg-max)
    .sidebar-left
        .dashboard-left-full
            display none
            
        .dashboard-left-small
            display block
            
        .dashboard
            .dashboard-content
                .dashboard-content-element
                    margin 0

            .dashboard-avatar
                width $sidebar-left-element-width - $default-padding * 2
                height $sidebar-left-element-width - $default-padding * 2
                margin $default-padding