@css {
    .dash-onoffswitch {
        position: relative; width: 140px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .dash-onoffswitch-checkbox {
        display: none;
    }
    .dash-onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        border: 2px solid #999999; border-radius: 20px;
    }
    .dash-onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .dash-onoffswitch-inner:before, .dash-onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
        font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        box-sizing: border-box;
    }
    .dash-onoffswitch-inner:before {
        content: "ON";
        padding-left: 20px;
        background-color: #34A7C1; color: #FFFFFF;
    }
    .dash-onoffswitch-inner:after {
        content: "OFF";
        padding-right: 20px;
        background-color: #EEEEEE; color: #999999;
        text-align: right;
    }
    .dash-onoffswitch-switch {
        display: block; width: 16px; margin: 7px;
        background: #FFFFFF;
        position: absolute; top: 0; bottom: 0;
        right: 106px;
        border: 2px solid #999999; border-radius: 20px;
        transition: all 0.3s ease-in 0s; 
    }
    .dash-onoffswitch-checkbox:checked + .dash-onoffswitch-label .dash-onoffswitch-inner {
        margin-left: 0;
    }
    .dash-onoffswitch-checkbox:checked + .dash-onoffswitch-label .dash-onoffswitch-switch {
        right: 0px; 
    }
}