.header
    display block
    
    .navigation
        background $navigation-bg
        height $navigation-height
        position relative
        z-index 200
        
        .logo
            position absolute
            width $navigation-logo-width
            height $navigation-height
            top 0
            left 0
            
            a
                display block
                background url('images/logo_beta.png') no-repeat center center
                background-color $navigation-bg
                // background-size cover
                width $navigation-logo-width
                height $navigation-height
                border-right $navigation-border

                &:hover
                    background-color $navigation-bg-hover
            
        .meloman
            position absolute
            width $navigation-meloman-width
            height $navigation-height
            top 0
            right 0
            
            .header-links-more-content
                display none
            
            a
                display block
                background-color $navigation-bg
                width $navigation-meloman-width
                height $navigation-height
                line-height $navigation-height
                border-left $navigation-border
                color $navigation-links-color
                text-decoration none
                text-align center
                font-size $font-size-m

                &:hover
                    background-color $navigation-bg-hover
                    color $navigation-links-color-hover
        
        .meloman-list
            display none
            position absolute
            top $navigation-height
            right 0
            z-index 300
        
        .meloman-list-arr
            background $default-bg-white
            transform rotate(45deg)
            position absolute
            right 21px
            top -8px
            width 16px
            height 16px
        
        .meloman-list-inner
            width 320px
            background $default-bg-white
            color $default-color-white
            padding $default-padding
            box-shadow 0px 10px 20px -10px rgba(0, 0, 0, .2)
            
            table
                margin-top $default-padding * 0.5
                border-color $default-bg-mint
                
                td
                    border-color $default-bg-mint
                    border none !important
        
        .links
            position absolute
            top 0
            left $navigation-logo-width
            right $navigation-meloman-width
            height $navigation-height
            z-index 200
            // overflow hidden
            
            ul.links-ul
                // width 2000px
                width 100%
                list-style none
                margin 0
                padding 0 
                padding-left $default-padding * 0.5
                padding-right $default-padding * 0.5
                z-index 10
                
                li
                    display block
                    float left
                    height $navigation-height
                    
                    a
                        display block
                        padding-left $default-padding
                        padding-right $default-padding
                        line-height $navigation-height
                        font-size $font-size-m
                        color $navigation-links-color
                        text-decoration none
                        // text-transform uppercase
                        box-sizing border-box
                        height $navigation-height
                        // font-condensed()
                    
                        &.active
                        &:hover
                            // background-color $default-bg-hover-white
                            border-bottom 2px solid $navigation-links-color-hover
                            color $navigation-links-color-hover
                    
                    a.plus
                        width $navigation-height * 0.5
                        height $navigation-height * 0.5
                        margin $navigation-height * 0.25
                        margin-right 0
                        margin-bottom 0
                        line-height $navigation-height * 0.5
                        border-radius($default-border-radius)
                    
                        &:hover
                            border none !important

            .links-more
                display none
                position absolute
                height $navigation-height
                top 0
                left 0
                right 0
                z-index 20
            
                .links-more-btn
                    display block
                    background-color $navigation-bg
                    // width $navigation-meloman-width
                    height $navigation-height
                    line-height $navigation-height
                    // border-left $default-border-white
                    color $navigation-links-color
                    text-decoration none
                    text-align center
                    font-size $font-size-l

                    &:hover
                        background-color $navigation-bg-hover
                        color $navigation-links-color-hover
            
            .links-more-list
                display none
                position absolute
                top $navigation-height
                left 0
                right 0
                
                .links-more-list-inner
                    background $navigation-bg - 20%
                    padding 0
                    color $default-color
                    
                    ul
                        padding $default-padding * 0.5 0
                        margin 0
                        list-style none
                        border-bottom 1px solid $navigation-bg
                        
                        &:last-child
                            border none
                            
                        li
                            a
                                display block
                                padding $default-padding * 0.5 $default-padding
                                color $default-color !important
                                text-decoration none !important
                                
                                &:hover
                                    background-color $navigation-bg-hover
            
            .links-shadow
                position absolute
                width 60px
                height $navigation-height
                top 0
                right $navigation-meloman-width
                z-index 20
                box-shadow inset -90px 0px 60px -50px $navigation-bg

    .menu
        background $navigation-menu-bg
        height $navigation-menu-height
        position relative
        z-index 100
        // border-radius(0 0 $default-border-radius $default-border-radius)
        
    .menu-list
        overflow hidden
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        
        ul
            width 2000px
            height $navigation-menu-height
            list-style none
            margin 0
            padding 0 $default-padding
            z-index 100
            
            li
                display block
                float left
                
                a
                    display block
                    line-height $navigation-menu-height
                    color $navigation-menu-color
                    padding 0 $default-padding
                    text-decoration none
                    // text-transform uppercase
                    box-sizing border-box
                    height $navigation-menu-height
                    font-size $font-size-l
                    font-condensed()
                    
                    &.active
                    &:hover
                        border-bottom 2px solid $navigation-menu-color
            
    .menu-down
        display none
        position absolute
        top $navigation-menu-height
        left 0
        right 0
        z-index 300
    
    .menu-down-inner
        background $default-bg-white
        padding $default-padding
        color $default-color-white
        box-shadow 0px 10px 20px -10px rgba(0, 0, 0, .2)
        
        ul
            margin 0
            padding 0
            list-style none
    
    .menu-down-inner-item
        padding-bottom $default-padding
        height 200px
    
    .menu-more
        position absolute
        background $navigation-menu-bg
        height $navigation-menu-height
        top 0
        right 0
        z-index 200
        
        a
            display block
            background $navigation-menu-bg
            height $navigation-menu-height
            width $navigation-height
            line-height $navigation-menu-height
            text-align center
            color $navigation-menu-color
            text-decoration none !important
            // border-left 1px solid $navigation-menu-bg + 15%
            
            &:hover
                background $navigation-menu-bg + 10%
                
        
        .menu-more-shadow
            position absolute
            width 60px
            margin-left -60px
            height $navigation-menu-height
            top 0
            left 0
            z-index 20
            box-shadow inset -60px 0px 30px -30px $navigation-menu-bg

.meloman-item
    text-align center
    padding 0 // $default-padding * 0.5 0

.meloman-item-img
    padding 0 $default-padding * 0.25
    line-height 50px
    height 50px
    text-align center
    
    // img
    //     width 100%