.clear
    clear both

.controls
    display none
    background $controls-bg
    position fixed
    z-index 200
    left 0
    right 0
    bottom 0
    height $controls-height
    // padding $default-padding
    
    table
        width 100%
        height $controls-height
        
        td
            width 33.33%
            border-right 1px solid $controls-bg + 10%
            
            &:last-child
                border-right none
            
            a
                display block
                background $controls-bg
                width 100%
                height $controls-height
                line-height $controls-height
                text-align center
                color $default-color !important
                text-decoration none !important
                
                &.active
                    background $controls-bg - 20%
                    border-bottom 3px solid $controls-border-color
    
    .btn-default
        background-color $controls-bg
        color $default-color
        border-color $default-color
    
    .btn-default.active
        background-color $controls-bg - 50%
        color $default-color - 50%
        border-color $default-color - 50%

.plus
    // font-normal()
    // font-medium()
    position relative
    top -0.2em
    color $default-a-color
    padding 0.2em 0.5em
    margin -0.15em
    border-radius(3px)
    position relative
    font-size 17px
    font-weight 100
    
    &:hover
        background rgba(0, 0, 0, 0.08)
        text-decoration none
        color $default-a-color + 20%
        cursor pointer

.pull-left
    float left

.pull-right
    float right

.center
    text-align center

.height-btn
    line-height 34px

.nano
    overflow hidden

.nano > .nano-content
    position absolute
    overflow scroll
    overflow-x hidden
    top 0
    right 0
    bottom 0
    left 0

.nano .nano-pane
    background #888
.nano .nano-slider
    background #111

// .row
//     margin-left -5px
//     margin-right -5px

// [class^="col-"]
//     padding-left 5px
//     padding-right 5px

.blend-text
    color $default-color-white + 60%

.btn-success
    background-color $btn-success-bg !important
    border-color $btn-success-bg - 10% !important
    
    &:hover
        background-color $btn-success-bg + 10% !important

.btn-mobee
    text-transform uppercase
    padding-top 18px
    padding-bottom 18px
    border none
    border-left 5px solid $btn-mobee-border
    border-right 5px solid $btn-mobee-border
    background $btn-mobee-bg
    color $btn-mobee-color
    // font-condensed()
    letter-spacing 0.1em
    font-size $font-size-s
    font-medium-bold()
    border-radius(3px)

    &:hover
        background $btn-mobee-border
        border-color $btn-mobee-border
        color $btn-mobee-color + 100%

.btn-mobee-sm
    font-size $font-size-s
    padding-top 10px
    padding-bottom 10px

.btn-mobee-xs
    font-size $font-size-s
    padding-top 5px
    padding-bottom 5px

.progress-dashboard
    background $dashboard-progress-bg
    height 34px
    margin 0
    
    .progress-bar
        background $dashboard-progress-color
        // border 2px dashed #32d86e
        line-height 34px
        box-shadow none

.progress-content
    background $default-bg-mint
    height 34px
    margin 0
    
    .progress-bar
        background $dashboard-progress-color
        line-height 34px
        box-shadow none

.pagination
    margin 0

.profile-list-item
    .well
        margin-bottom 0
        
    .avatar
        display block
        width 100%
        border-radius($dashboard-avatar * 0.75)
        overflow hidden
        
        img
            width 100%

        // &:hover
        //     border 5px solid $sidebar-purple-color
        
.profile-list-box-item
    margin-bottom $default-padding * 0.5
    padding-bottom $default-padding * 0.5
    border-bottom $default-border-white
    
    &:last-child
        margin-bottom 0
        padding-bottom 0
        border-bottom none

.profile-list-box-header
    color $sidebar-dark-color
    text-transform uppercase
    font-condensed()

.mobee-profile-checked
    color $profile-checked-icon-color

.mobee-profile-super
    color $profile-super-icon-color
    
.profile-userbar
    height $default-padding * 3
    position relative

.profile-userbar-avatar
    float left
    margin-right $default-padding * 0.5
    height 100%
    overflow hidden
    border-radius($default-padding * 3)
    
    img
        height 100%

.profile-userbar-info
    // float left
    padding $default-padding * 0.5 0 0 0
    
    .profile-userbar-info-name
        font-size font-size-l
        line-height $default-padding
        font-condensed()
    
    .profile-userbar-info-description
        line-height $default-padding
        font-size $font-size-s

.profile-userbar-right
    
    .profile-userbar-avatar
        float right
        margin-right 0
        margin-left $default-padding * 0.5
        
    .profile-userbar-info
        float right
        text-align right

.connection-list-link
    text-align center
    padding-top $default-padding

.main-features
    // padding $default-padding
    padding $default-padding 0

.main-features-row
    margin-left -5px
    margin-right -5px

.main-features-col
    padding-left 5px
    padding-right 5px

.main-features-items
    margin-top $default-padding * 2

.main-features-items-item
    // background $default-bg-white
    padding $default-padding
    margin-bottom 10px
    height 320px
    border-radius($default-border-radius)
    
    &.noimg
        height 100px

.main-features-title
    color $default-color-white
    text-transform uppercase
    text-align center
    font-size $font-size-l
    padding $default-padding * 0.5 0
    font-bold()
    font-condensed()

.main-features-image
    // padding $default-padding 0
    text-align center

    img
        max-height 160px
        max-width 100%

.main-features-content
    margin 0
    text-align center

.landing
    background #cbe4eb
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    text-align center
    
    img
        margin 0
        padding 0
        height 100%
        max-width 100%

.check-username-process
    color #3E91FF

.check-username-busy
    color #E45A5A

.check-username-free
    color #37C06E
    
.mobee-main-slider
    
    .carousel-control.right
    .carousel-control.left
        background-image none
    
    .carousel-indicators li
    .carousel-indicators li.active
        border-color $mobee-main-slider-red
    .carousel-indicators li.active
        background $mobee-main-slider-red
    
    .carousel-control
        color #333
        text-shadow none
        width 7%
        
    .carousel-inner
        width 86%
        margin-left 7%
        margin-right 7%

.mobee-main-slider-item
    text-align center
    padding-bottom 60px
    
    img
        max-width 100%

.image-ajax-box
    display none

.image-ajax-input
    display none

.help-block-mobee
    font-size $font-size-s
    color $default-color-white + 50%

.chat-box
    position fixed
    left $sidebar-width
    right $sidebar-width
    bottom 0
    background $default-bg-mint
    height $chat-height
    z-index 100
    
    .chat-deal
        position absolute
        width $chat-deal-width
        top $default-padding * 0.5
        left $default-padding
        bottom $default-padding * 0.5
        
        .chat-deal-price
            padding-bottom $default-padding * 0.5
    
    .chat-deal-confirmed
        position absolute
        top $default-padding * 0.5
        left $default-padding
        bottom $default-padding * 0.5
        width $chat-deal-width
        box-sizing border-box
        background $dashboard-progress-color
        text-align center
        color $chat-deal-color
        line-height 30px
        padding-top ($chat-send-width - 30px) * 0.5
        border-radius(3px)
    
    .chat-message-form
        position absolute
        top $default-padding * 0.5
        left $default-padding + $chat-deal-width + $default-padding * 0.5
        right $default-padding
        bottom $default-padding * 0.5
    
    .chat-message-box-field
        position absolute
        top 0
        left 0
        bottom 0
        right $default-padding * 0.5 + $chat-send-width
        
        textarea
            height $chat-send-width
    
    .chat-message-box-send
        position absolute
        top 0
        right 0
        width $chat-send-width
        height $chat-send-width
        line-height $chat-send-width
        text-align center
        font-size $font-size-l
        display block
        padding 0
        margin 0
        border none
        background $btn-mobee-border
        color $btn-mobee-color
        border-radius($chat-send-width * 0.5)
        
        &:hover
            background $btn-mobee-border + 20%

.chat-message-spacer
    height $chat-height - ($default-padding)

.chatitem-avatar
    float left
    width $chat-item-avatar
    height $chat-item-avatar
    border-radius($chat-item-avatar * 0.5)
    overflow hidden
    
    img
        width 100%

.chatitem-content
    margin-left $chat-item-avatar + ($default-padding * 0.5)

    .chatitem-content-name
        padding $default-padding * 0.2 0
        font-condensed()

.chatitem-clear
    clear both

.chat-clean-item
    display none

.faq-list-category
    display block
    // height 170px
    padding $default-padding * 0.5 $default-padding
    // border 2px solid $faq-list-category-border
    background $faq-list-category-bg
    color $default-color-white
    text-decoration none !important
    border 1px solid $faq-list-category-border
    border-bottom-width 0px
    
    &:last-child
        border-bottom-width 1px
    
    &:hover
        color $default-color-white
        background $faq-list-category-border + 50%
        text-decoration none
    
    &.active
        background $faq-list-category-border

.faq-list-category-title
    font-size $font-size-l
    padding $default-padding * 0.2 0 0 0 

.faq-list-category-description
    padding-bottom $default-padding * 0.5

.faq-list-category-count
    color $faq-list-category-border - 30%

.faq-list-item-title
    font-size $font-size-l

.reviews-item
    background $reviews-item-bg
    padding $default-padding
    margin-top $default-padding
    border-radius(3px)

.review-item-param
    margin $default-padding 0
    background #fff - 10%
    padding $default-padding * 0.5

.super-item
    background #ECF0F1
    padding $default-padding
    margin-bottom $default-padding * 1.5
    height 200px
    border-radius(5px)

.super-item-price
    text-align center
    font-size $font-size-xxl
    padding $default-padding * 0.5 0
    font-bold()

.super-item-desc
    text-align center
    font-size $font-size-xl

.super-item-cost
    padding $default-padding * 0.5 0
    text-align center
    font-size $font-size-xl
    color #ECF0F1 - 30%

.super-progress
    position relative
    
    .progress-bar
        background $dashboard-super-bg

.super-progress-title
    position absolute
    top 0
    left 0
    right 0
    text-align center

.order-item
    border $default-border
    margin-bottom $default-padding
    border-radius(5px)
    overflow hidden
    
    .order-item-img
        img
            width 100%
    
    .order-item-data
        background $default-bg-mint + 70%
        padding $default-padding

.order-view-img
    img
        width 100%

.order-filters-verticalselect
    padding-bottom $default-padding
    
    .btn
        text-align left

    .btn-default
        background-color $default-bg-white !important
        border-color $default-border-color !important
        
        &:hover
            background-color $default-bg-white - 5% !important

.deal-review-summary
    list-style none
    margin 0
    padding 0

#chartdiv
    width   100%
    height 500px

.page-content
    img
        max-width 100%

.order-create-buttons
    a
        display block
        padding $default-padding
        text-align center
        border $default-border
        border-radius(4px)
        color $default-color-white !important
        
        &:hover
            color $default-a-color !important
        
        img
            max-width 100%
            max-height 200px
            margin-bottom $default-padding
        
        h3
            margin-bottom $default-padding

.order-form-image
    margin-bottom $default-padding

.order-category-select
    position relative