.mobeemodals
    
    > ul
        margin 0
        padding 0
        list-style none

        > li
            margin 0
            padding 0
            list-style none
            position relative
            z-index 1000
            
            .mobeemodal-rails
                position fixed
                top 0
                left 0
                right 0
                bottom 0
                z-index 20
                overflow-x hidden
                overflow-y scroll
            
            .mobeemodal-window
                position relative
                background #fff
                width 600px
                margin 60px auto
                z-index 20
                border-radius(4px)
                overflow hidden
            
            .mobeemodal-window-s
                width 400px
            
            .mobeemodal-window-m
                width 600px
            
            .mobeemodal-window-l
                width 800px
            
            .mobeemodal-bg
                background rgba(0, 0, 0, 0.7)
                position fixed
                top 0
                left 0
                right 0
                bottom 0
                z-index 10
                cursor pointer

        > li:nth-child(n+2)
            display none

.mobeemodal-loader
    display none
    background rgba(0, 0, 0, 0.7)
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    z-index 1100
    text-align center
    color #fff
    
.mobeemodal-loader-text
    padding-top 200px

.mobeemodal-template
    display none

.mobeemodal-header
    height $modal-header-height
    background $modal-header-bg

.mobeemodal-header-title
    float left
    line-height $modal-header-height - $default-padding * 2
    font-size $font-size-m
    color $modal-header-bg - 30%
    padding $default-padding
    // font-condensed()
    font-light()

.mobeemodal-header-close
    float right

.mobeemodal-header-close-btn
    display block
    line-height $modal-header-height - $default-padding * 2
    padding $default-padding
    color $default-a-color
    cursor pointer
    border-left 1px solid $modal-header-bg + 50%

.mobeemodal-content
    padding $default-padding
    color $default-color-white