.wrap
    position relative
    z-index 100

.blocked
    overflow hidden
    
    .wrap
        overflow-y scroll

.main
    position relative
    padding 0 $sidebar-width
    z-index 10
    
    > .inner
        // margin 0 $default-padding
        margin 0

.sidebar
    background $sidebar-bg
    position fixed
    top 0
    bottom 0
    width $sidebar-width
    z-index 50
    
.sidebar-left
    left 0
    
.sidebar-right
    right 0

@media (min-width: $screen-sm-min) and (max-width: $screen-lg-max)
    .sidebar-left
        width $sidebar-left-lg
    
    .main
        padding-left $sidebar-left-lg

@media (max-width: $screen-xs-max)
    .wrap
        padding-bottom $controls-height

    .main
        padding 0
        z-index 100
        
        > .inner
            margin 0
        
    .sidebar
        width auto
        left 0
        right 0
        bottom $controls-height
        display none

    .wrap-item
        display none

    .wrap-active
        display block