<div class="content-element-box" id="chat-messages" *ngIf="messages.length">
    <div *ngFor="#message of messages" class="content-element-box-item">
        <div *ngIf="message.type == 'message'">
            <div class="chatitem">
                <div class="chatitem-avatar">
                    <img *ngIf="message.avatar" src="{{ message.avatar }}" />
                </div>
                <div class="chatitem-content">
                    <div class="chatitem-content-name">
                        <div *ngIf="message.name">
                            <a href="{{ message.nameUrl }}">{{ message.name }}</a>
                        </div>
                    </div>
                    <div class="chatitem-content-message">
                        {{ message.content }}
                    </div>
                    <div class="chatitem-content-date">
                        <small class="blend-text">{{ message.date }}</small>
                    </div>
                </div>
                <div class="chatitem-clear"></div>
            </div>
        </div>
        <div *ngIf="message.type == 'system'">
            {{ message.content }}
        </div>
        <div *ngIf="message.type == 'deal'">
            <div *ngIf="message.params.closed">
                <div class="pull-right">
                    Сделка закрыта
                </div>
            </div>
            <div *ngIf="!message.params.closed">
                <div *ngIf="starterId == currentProfileData.id" class="pull-right" style="margin-top: -4px">
                    <a href="/profile/deals/close/{{ message.nameUrl }}" class="btn btn-success btn-sm">Завершить сделку</a>
                    <a href="/profile/deals/report/{{ message.nameUrl }}" class="btn btn-danger btn-sm">Пожаловаться</a>
                </div>
            </div>
            Сделка заключена: {{ message.content }} тг.
        </div>
    </div>
</div>

<div *ngIf="dialogInited" class="chat-box">
    <div *ngIf="!isDeal" class="chat-deal">
        <div class="chat-deal-price">
            <input type="text" [(ngModel)]="currentPrice" (keyup)="priceChange()" class="form-control input-sm col-xs-12 col-sm-12" placeholder="Цена (тг.)" />
            <div class="clear"></div>
        </div>
        <div class="chat-deal-accept">
            <button (click)="priceConfirm()" [ngClass]="priceBtnClassMap" class="btn btn-sm col-xs-12 col-sm-12">Принять</button>
            <div class="clear"></div>
        </div>
    </div>
    <div *ngIf="isDeal" class="chat-deal-confirmed">
        {{ currentPrice }} тг.
    </div>
    <form method="POST" id="chat-form" class="chat-message-form" (ngSubmit)="sendMessage()">
        <div class="chat-message-box-field">
            <textarea (keypress)="textKeyPress($event)" [(ngModel)]="currentMessage" id="chat-form-field" class="form-control" name="message"></textarea>
        </div>
        <button id="chat-form-send" class="chat-message-box-send">
            <i class="mobee-mail-7"></i>
        </button>
    </form>
</div>