@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Clear Sans Thin'), local('ClearSans-Thin'), url('../WOFF/ClearSans-Thin.woff') format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 200;
  src: local('Clear Sans Light'), local('ClearSans-Light'), url('../WOFF/ClearSans-Light.woff') format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Clear Sans'), local('ClearSans-Regular'), url('../WOFF/ClearSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Clear Sans Medium'), local('ClearSans-Medium'), url('../WOFF/ClearSans-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Clear Sans Bold'), local('ClearSans-Bold'), url('../WOFF/ClearSans-Bold.woff') format('woff');
}